$nav-footer-color: #DEDEDE;

footer {
  background-color: $nav-footer-color;

  .footer_container {
    display: flex;
    justify-content: space-between;
    //max-width: 1000px;
    margin: 0 auto;
    align-items: center;
  }

  .footer_rights {
    margin-left: 30px;
  }

  .footer_icons {
    margin-right: 30px;
  }

  .facebook_icon {
    font-size: 2rem;
    padding-right: 10px;
    color: royalblue;
  }

  .twitter_icon {
    font-size: 2rem;
    color: royalblue;
  }
}